
 <!-- Carousel -->
  <div id = "slides" class = "carousel slide" data-ride = "carousel">
    <ul class="carousel-indicators">
      <li data-target = "#slides" data-slide-to="0" class="active"></li>
      <li data-target = "#slides" data-slide-to="1" ></li>
      <li data-target = "#slides" data-slide-to="2" ></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src ="https://images.pexels.com/photos/374631/pexels-photo-374631.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" >
        <div class="carousel-caption">
          <p>Grow your business with our user-friendly IT solutions</p>
               
             <br>
             <button type="button" class="btn btn-outline-light btn-lg">Explore More</button>
        </div>
      </div>
      <div class="carousel-item ">
        <img src ="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" >
        <div class="carousel-caption">
          <p>We help businesses achieve digital transformation</p>
         
          <br>
          <button type="button" class="btn btn-outline-light btn-lg">Explore More</button>
     </div>
      </div>
      <div class="carousel-item ">
        <img src ="https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" >
        <div class="carousel-caption">
          <p>Empowered to help business and technology to digital thrive</p>
         
          <br>
          <button type="button" class="btn btn-outline-light btn-lg">Explore More</button>
     </div>
      </div>
    </div>
  </div>

  <!-- Additional Content 1-->

  <div class="container-fluid padding additional1">
    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    <div class="row text-center row2">
      <div class="col-sm-12 col-md-6">
         <h1 class="display-4" style="color: white;font-weight: bold;">Blurring the gap between creativity and technology</h1>
         
      </div>
      <div class="col-sm-12 col-md-6">
        <p style="color: white;">We follow strategic approach to website design and development turning the approches into reality. Leading to a better approach to run the business.</p>
        <button type="button" class="btn btn-light btn-lg">Services</button>
      </div>
    </div>
  </div>


<!-- additional content 2 -->
  <div class="container-fluid padding additional2">
    
    <div class="row text-center row2">
      <div class="col-md-6">
         <h1 class="display-4" style="color: white;font-weight: bold;">Let us make your world better</h1>
         <div class= "row">
           <div class = "col-sm-6 horizontal"><hr>
             <div class= "row text-center">
              <div class = "col-sm-12">
                <h2 class="display-5" style="color:white;">Customize your Website</h2>
                
                <p style="color:white;">
                  Pick up your design
                  <br>We are there to consult you
                  <br>Explore the process along with us
                </p>
             
              </div>
             </div>
            </div> 
           <div class = "col-sm-6 horizontal"><hr>
            <div class= "row text-center">
              <div class = "col-sm-12">
                <h2 class="display-5" style="color:white;">Customize your Application</h2>
                <p style="color:white;">Start app development from the scratch<br> Modify the current app<br>Get the additional features added</p>
              </div>
             </div> 
           </div>
         </div>
        
      </div>
      <div class="col-sm-12 col-md-6">
        <img src="assets/Images/4.jpg" class="img-fluid ">  
      </div>
    </div>
  </div>

  <!-- testimonials -->
<div class="container-fluid padding testimonials">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="display-5">Testimonials</h1>
      <hr>
    </div>
  </div>
</div>


<!-- testimonials Card-->
<div class="testimonials-cards">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="img1"><img src="https://i.pinimg.com/originals/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg" alt=""></div>
          <div class="img2"><img src="https://static.vecteezy.com/system/resources/thumbnails/001/503/756/small/boy-face-avatar-cartoon-free-vector.jpg" alt=""></div>
          <div class="main-text">
            <h2>Anushree K</h2>
            <p>Exemplifying steadfast expertise and work ethic, The team strived to deliver a well-improved and functional platform that satisfied users, resulting in optimized customer service. They managed to deliver reliable solutions despite the hurdles they faced, ensuring a pleasant collaboration.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="img1"><img src="https://i.pinimg.com/originals/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg" alt=""></div>
          <div class="img2"><img src="https://static.vecteezy.com/system/resources/thumbnails/001/503/756/small/boy-face-avatar-cartoon-free-vector.jpg" alt=""></div>
          <div class="main-text">
            <h2>Harish Mane</h2>
            <p>The Software House's team helped the client scale up. They're hardworking, flexible, and efficient. While they could be more direct, their productive team is very agile.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="img1"><img src="https://i.pinimg.com/originals/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg" alt=""></div>
          <div class="img2"><img src="https://static.vecteezy.com/system/resources/thumbnails/001/503/756/small/boy-face-avatar-cartoon-free-vector.jpg" alt=""></div>
          <div class="main-text">
            <h2>Kumar Ashwin</h2>
            <p>I am really impressed by the quality of services I received from Dopecode team. You were right on schedule, charged reasonable prices, were professional and courteous in dealings, and delivered items well before time. I have got a good e-commerce site for my products.</p>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
